# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

API_Challenge: Vacation Py
--
Developed by: Henry Greyner

In [44]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [45]:
#Read the CSV and store in dataset
city_df = "output_data/cities.csv"
city_df = pd.read_csv(city_df)
#verify dataset
city_df

,Unnamed: 0,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,1370,57000,Hobyo,99,SO,1579998870,81,5.35,48.53,25.45,7.09
1,1113,58933,Garoowe,74,SO,1579998212,76,8.41,48.48,22.88,4.91
2,908,81604,Suluq,67,LY,1579998180,61,31.67,20.25,10.89,4.63
3,557,86049,Jalu,12,LY,1579998214,52,29.03,21.55,11.71,3.88
4,177,87205,Darnah,48,LY,1579998154,59,32.77,22.64,15.54,5.66
...,...,...,...,...,...,...,...,...,...,...,...
557,917,6690296,Saint-Joseph,75,RE,1579997913,78,-21.37,55.62,23.00,3.60
558,1374,7279741,Vapi,0,IN,1579998875,33,20.37,72.90,19.12,1.62
559,1055,7601762,Bairiki Village,20,KI,1579998203,74,1.33,172.98,31.00,3.10
560,1158,8010683,Porto Santo,20,PT,1579998135,77,33.07,-16.34,16.00,4.10
561,161,8079926,Labuhan,100,ID,1579998151,91,-6.88,112.21,24.43,1.69

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [46]:
#configure google key
gmaps.configure(api_key=g_key)

In [47]:
#remove any null values
city_df = city_df.dropna()
#Store 'Lat' and 'Lng' into locations 
locations = city_df[["Lat", "Lng"]].astype(float)
#Store humidity into series "humidity"
humidity = city_df["Humidity"].astype(float)

In [48]:
#very same number of rows per column
city_df.count()

Unnamed: 0    560
City ID       560
City          560
Cloudiness    560
Country       560
Date          560
Humidity      560
Lat           560
Lng           560
Max Temp      560
Wind Speed    560
dtype: int64

In [49]:
#configure heat map
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [50]:
#create a mask to filter data based on "ideal vacation" conditions
mask = (city_df['Max Temp'] < 26.7)&(city_df['Max Temp'] > 21.1)\
&(city_df['Wind Speed'] < 16.1)&(city_df['Cloudiness'] == 0)
city_df2=city_df[mask]
city_df2

,Unnamed: 0,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
64,1268,895057,Binga,0,ZW,1579998752,79,-17.62,27.34,24.05,1.95
66,981,933077,Shakawe,0,BW,1579998191,62,-18.37,21.85,21.42,1.40
81,234,1006984,East London,0,ZA,1579998161,80,-33.02,27.91,24.21,6.73
96,223,1168700,Ormara,0,PK,1579998159,77,25.21,64.64,22.06,6.98
113,306,1263752,Mangrol,0,IN,1579998172,53,21.12,70.12,21.63,6.66
119,1004,1272140,Dwarka,0,IN,1579998014,69,22.24,68.97,22.12,5.21
177,1022,1729469,Baculin,0,PH,1579998197,76,7.45,126.58,25.77,0.68
402,765,3471451,Arraial do Cabo,0,BR,1579998157,83,-22.97,-42.03,24.33,4.20
413,387,3576994,Cockburn Town,0,TC,1579998187,71,21.46,-71.14,24.47,4.15
439,344,3839307,Rawson,0,AR,1579998180,37,-43.30,-65.10,24.52,6.69

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [51]:
#create new dataset to avoid issues using masked data and reset index
hotel_df=city_df2.dropna()
hotel_df=hotel_df.reset_index(drop=True)
hotel_df

,Unnamed: 0,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,1268,895057,Binga,0,ZW,1579998752,79,-17.62,27.34,24.05,1.95
1,981,933077,Shakawe,0,BW,1579998191,62,-18.37,21.85,21.42,1.40
2,234,1006984,East London,0,ZA,1579998161,80,-33.02,27.91,24.21,6.73
3,223,1168700,Ormara,0,PK,1579998159,77,25.21,64.64,22.06,6.98
4,306,1263752,Mangrol,0,IN,1579998172,53,21.12,70.12,21.63,6.66
5,1004,1272140,Dwarka,0,IN,1579998014,69,22.24,68.97,22.12,5.21
6,1022,1729469,Baculin,0,PH,1579998197,76,7.45,126.58,25.77,0.68
7,765,3471451,Arraial do Cabo,0,BR,1579998157,83,-22.97,-42.03,24.33,4.20
8,387,3576994,Cockburn Town,0,TC,1579998187,71,21.46,-71.14,24.47,4.15
9,344,3839307,Rawson,0,AR,1579998180,37,-43.30,-65.10,24.52,6.69

In [53]:
#Create new column for the name of the Hotel
hotel_df["Hotel Name"]=""
hotel_df

,Unnamed: 0,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,1268,895057,Binga,0,ZW,1579998752,79,-17.62,27.34,24.05,1.95,
1,981,933077,Shakawe,0,BW,1579998191,62,-18.37,21.85,21.42,1.40,
2,234,1006984,East London,0,ZA,1579998161,80,-33.02,27.91,24.21,6.73,
3,223,1168700,Ormara,0,PK,1579998159,77,25.21,64.64,22.06,6.98,
4,306,1263752,Mangrol,0,IN,1579998172,53,21.12,70.12,21.63,6.66,
5,1004,1272140,Dwarka,0,IN,1579998014,69,22.24,68.97,22.12,5.21,
6,1022,1729469,Baculin,0,PH,1579998197,76,7.45,126.58,25.77,0.68,
7,765,3471451,Arraial do Cabo,0,BR,1579998157,83,-22.97,-42.03,24.33,4.20,
8,387,3576994,Cockburn Town,0,TC,1579998187,71,21.46,-71.14,24.47,4.15,
9,344,3839307,Rawson,0,AR,1579998180,37,-43.30,-65.10,24.52,6.69,

In [54]:
#Parameters to make API calls based on the Lat and Lng of the dataset
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request
    name_address = requests.get(base_url, params=params)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
       
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.

In [55]:
hotel_df

,Unnamed: 0,City ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,1268,895057,Binga,0,ZW,1579998752,79,-17.62,27.34,24.05,1.95,Masumu River Lodge
1,981,933077,Shakawe,0,BW,1579998191,62,-18.37,21.85,21.42,1.40,Drotsky's Cabins
2,234,1006984,East London,0,ZA,1579998161,80,-33.02,27.91,24.21,6.73,Premier Hotel Regent
3,223,1168700,Ormara,0,PK,1579998159,77,25.21,64.64,22.06,6.98,Ormara Beach Resorts/ Bolan Safari
4,306,1263752,Mangrol,0,IN,1579998172,53,21.12,70.12,21.63,6.66,Kaveri Hotel
5,1004,1272140,Dwarka,0,IN,1579998014,69,22.24,68.97,22.12,5.21,"Devbhoomi Residency, Dwarika (Gujarat) India"
6,1022,1729469,Baculin,0,PH,1579998197,76,7.45,126.58,25.77,0.68,
7,765,3471451,Arraial do Cabo,0,BR,1579998157,83,-22.97,-42.03,24.33,4.20,HOSTEL A COROA
8,387,3576994,Cockburn Town,0,TC,1579998187,71,21.46,-71.14,24.47,4.15,Bohio Dive Resort
9,344,3839307,Rawson,0,AR,1579998180,37,-43.30,-65.10,24.52,6.69,Hotel Punta LeÃ³n

In [56]:
#Pass values to list in case needed for labels, also to verify
Name=hotel_df["Hotel Name"].tolist()
City=hotel_df["City"].tolist()
Country=hotel_df["Country"].tolist()

In [57]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name of Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [58]:
# Add marker layer ontop of heat map
hotel_layer = gmaps.marker_layer(
    locations, info_box_content=hotel_info)

In [59]:
# Display Map
fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))